// /* npm install @fontsource/roboto */
// @import '~@fontsource/roboto/300.css';
// @import '~@fontsource/roboto/300-italic.css';
// @import '~@fontsource/roboto/400.css';
// @import '~@fontsource/roboto/400-italic.css';
// @import '~@fontsource/roboto/500.css';
// @import '~@fontsource/roboto/500-italic.css';
// @import '~@fontsource/roboto/700.css';
// @import '~@fontsource/roboto/700-italic.css';

// //@import "~@fontsource/roboto/scss/mixins";

// body {
// 	font-family: 'Roboto', sans-serif;
// }
@import '~bootstrap/scss/bootstrap';

.container a {
  display: block;
  text-decoration: none;
  text-align: left;
  margin-left: 0;
  padding: 0;
}
